.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  gap: 20px;
}

.produit {
  background: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.image-container {
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
